<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">Explore</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur distinctio incidunt quam eaque vero 
            rem quasi laborum vitae debitis similique in tempore, beatae labore libero. Enim quod assumenda quaerat labore.
          </p>
          <a href="#" class="btn btn-outline-secondary">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./assets/images/explore-section1.jpg" alt="Explore" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae et nobis, hic consequuntur 
          asperiores vero maxime laboriosam praesentium, blanditiis, aspernatur iste. Quam, atque voluptatem.
        </p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sed mollitia nam nesciunt id earum quae. Inventore in quia ex alias!
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sed mollitia nam nesciunt id earum quae. Inventore in quia ex alias!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>